<form>
  <fieldset class="control-section">
    <legend>Arm Controls</legend>

    <fieldset class="sub-controls">
      <legend>Rotate</legend>

      <input type="button" name="arm_rot_cw" value="CW" />
      <input type="button" name="arm_rot_ccw" value="CCW" />
    </fieldset>

    <fieldset class="sub-controls">
      <legend>Joint 1</legend>

      <input type="button" name="arm_j1_raise" value="Raise" />
      <input type="button" name="arm_j1_lower" value="Lower" />
    </fieldset>

    <fieldset class="sub-controls">
      <legend>Joint 2</legend>

      <input type="button" name="arm_j2_raise" value="Raise" />
      <input type="button" name="arm_j2_lower" value="Lower" />
    </fieldset>

    <fieldset class="sub-controls">
      <legend>Hand</legend>

      <input type="button" name="hand_grip" value="Grip" />
      <input type="button" name="hand_release" value="Release" />
    </fieldset>

  </fieldset>
</form>
