<form>
  <fieldset class="control-section">
    <legend>Movement Controls</legend>

    <fieldset class="sub-controls">
      <legend>Move</legend>

      <input type="button" name="forward" value="Forward" />
      <input type="button" name="reverse" value="Reverse" />
    </fieldset>


    <fieldset class="sub-controls">
      <legend>Rotate</legend>

      <input type="button" name="left" value="CW" />
      <input type="button" name="right" value="CCW" />
    </fieldset>

      <input type="button" name="stop" value="Stop" />

  </fieldset>
</form>
