body                      { font-family: sans-serif; background-color: #000 }
h1, h2                    { font-family: "Trebuchet MS", Helvetica, sans-serif; margin: 0; color: #FFF; }
h1                        { font-size: 2.5vw; }
h2                        { font-size: 2.0vw; }
p                         { font-size: 1.2vw; color: #FFF; }

.widget                   { width: -moz-min-content; width: -webkit-min-content; width: min-content; padding: 10px; }
.floating-widget          { position: absolute; }
.widget-title             { white-space: nowrap; }
.widget-title-borders     { padding-left: 10px; }
.widget-contents          { width: 200px; }
.widget-contents-borders  { border: 2px solid #FFF; border-radius: 15px; padding: 0px 5px;}

.widget-layout-section    { clear: both; }
#top-bar > div            { float: left; }
#left-bar                 { float: left; }
#right-bar                { float: right; }
#bottom-bar               { position:absolute; bottom:0; }
#bottom-bar > div         { float: left; }
