body {
  background-color: #000
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Roboto', sans-serif;;
  margin: 0;
  font-weight: normal;
  color: #FFF;
}

h1                  { font-size: 5vw; }
h2                  { font-size: 3.75vw; }
h2, h3, h4, h5, h6  { font-size: 3.25vw; }
p                   { font-size: 2.5vw; }
p.small             { font-size: 1.8vw; }
li                  { font-size: 2.5vw; }

.widget {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
  padding: 10px;
}

.floating-widget          { position: absolute; }
.widget-title             { white-space: nowrap; }
.widget-title-borders     { padding-left: 10px; }
.widget-contents          { width: 200px; }
.widget-contents-borders  { border: 2px solid #FFF; border-radius: 15px; padding: 3px 6px;}

.widget-layout-section    { clear: both; }
#top-bar > div            { float: left; }
#left-bar                 { float: left; }
#right-bar                { float: right; }
#bottom-bar               { position:absolute; bottom:0; }
#bottom-bar > div         { float: left; }
