{% extends "layout.html" %}

{% block body %}

  {% if alarm %}
    <h2>Alarm {{ alarm.id }}</h2>
  {% else %}
    <h2>New Alarm</h2>
  {% endif %}

  <form class="block-form">
    <span>Name: <input type="text" name="alarm_name" value="{{ alarm.name }}" /></span>
    <span>Description: <input type="text" name="alarm_description" value="{{ alarm.description }}" /></span>

    <fieldset>
      {% if sensors %}
      {% for sensor in sensors %}
      {% endfor %}
      {% else %}
        <p><i>No Sensors Added.</i></p>
      {% endif %}
    </fieldset>
  </form>

  <span>
    {% if alarm %}
      <a href="">Update</a>
      <a href="{{ url_for('delete_alarm', alarm_id=alarm.id) }}">Delete</a>
    {% else %}
      <a href="">Add</a>
    {% endif %}
  </span>

{% endblock %}
