<!doctype html>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% block scripts %}{% endblock %}
<title>rPi Weather Station</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>rPi Weather Station</h1>
  <div class="metanav">
    <a href="{{ url_for('show_current') }}">Current</a>
    <a href="{{ url_for('show_history') }}">History</a>
  </div>
  {% block body %}{% endblock %}
  <div class="clear"></div>
</div>
