{% extends "layout.html" %}

{% block scripts %}
  {% if data %}
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['gauge']});
      google.setOnLoadCallback(drawAllCharts);

      function drawChart(id, label, val, val_from, val_to) {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          [label, val]
        ]);

        var options = {
          min: val_from, max: val_to,
          minorTicks: 5
        };

        var gauge = new google.visualization.Gauge(document.getElementById(id));
        gauge.draw(data, options);
      }

      function drawAllCharts() {
        drawChart('avg_wind_gauge', 'Avg. Wind Speed', {{ data.average_wind_speed  }}, 0, 50);
        drawChart('light_level_gauge', 'Light Level', {{ data.light_level  }}, 0, 1023);
        drawChart('temperature_gauge', 'Temperature', {{ data.temperature }}, -20, 80);
        drawChart('humidity_gauge', 'Humidity', {{ data.humidity  }}, 0, 100);
        drawChart('pressure_gauge', 'Pressure', {{ data.pressure  }}, 0, 250);
        drawChart('rain_gauge', 'Rain', {{ data.rain_frequency  }}, 0, 50);
      }
    </script>
  {% endif %}
{% endblock %}

{% block body %}
  {% if data %}
    <p>Data recorded at: {{ data.timestamp }}</p>
    <p>Wind direction: {{ data.wind_direction }}</p>
    <div id="temperature_gauge" class="small_gauge"></div>
    <div id="humidity_gauge" class="small_gauge"></div>
    <div id="pressure_gauge" class="small_gauge"></div>
    <div id="avg_wind_gauge" class="small_gauge"></div>
    <div id="light_level_gauge" class="small_gauge"></div>
    <div id="rain_gauge" class="small_gauge"></div>
  {% else %}
    <em>No data recorded yet.</em>
  {% endif %}
{% endblock %}
