.analog-clock {
  position: relative;
  height: 200px;
  width: 200px
  margin:15% auto;
  border-radius:50%;
  box-shadow:0 0 2px 4px #FFF
}

.analog-clock div {
  position: absolute;
  left:50%
}

.analog-clock:target img[src*="second"] {
  -webkit-transform: rotate(3600000deg);
}

.analog-clock:target img[src*="minute"] {
  -webkit-transform: rotate(36000deg);
}

.analog-clock:target img[src*="hour"] {
  -webkit-transform: rotate(360deg);
}
