.weather-icon {
  width: 80px;
  height: 80px;
  float: right;
  -webkit-filter: invert(100%);
}

.weather-temp > p {
  display: inline;
}

.weather-temp-current, .weather-wind-direction {
  font-weight: bold;
}

.weather-small-detail {
  font-size: 1.0vw;
}
